.demo-layout-transparent {
    background: url('https://c.pxhere.com/photos/f2/05/abstract_astro_astronomy_background_background_image_beautiful_constellation_cosmos-1563999.jpg!d') center/cover;
    /* This background is dark, so we set text to white. Use 87% black instead if
    your background is light. */
    color: black;
    /*opacity: 0.8%;*/
    background-attachment: fixed;
}

div.page-content {
    /*Ocupar toda la altura de la pantalla con la imagen*/
    height: 100%;
    /*Dejar fija la imagen y hacer scroll en el contenido*/
    overflow-y: scroll;
}

div.article-content {
    /*margin-top: 1em;*/
    text-align: center;
    display: flex;
    flex-direction: column;
}

.numres-options {
    width: 100%;
}

.card-1 {
    padding: 10px 10px 10px 10px;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.30);
    /* background: #131b2d;*/
    background: #e6e8f5;
    width: 95vw;
    max-width: 400px;
    font-size: 100%;
    text-align: center;
}

th {
    text-align: center;
}

hr {
    color: #f00;
    background: #e6e8f5;
    width: 100%;
    height: 10%;
    /* box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);*/
}

.bold {
    font-weight: bold;
}

table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}

table .absorbing-column {
    width: 100%;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    margin-top: 10px;
}

form {
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.30);
    height: 120px;
}

#option {
    margin-top: 10px;
    margin-bottom: 5px;
}

.text {
    margin: 20px;
    text-align: justify;
}

a {
    color: #3f51b5;
}

#progressBar {
    visibility: hidden;
}

.reciente {
    background: #3F8CB5;
}